<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Panel</title>

  <link rel="stylesheet" href="/css/app.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <% if (session.username){ %>
    <%- include('include/nav.ejs') %>
    <section class="main-content is-fullheight">
      <div class="columns is-fullheight">
        <div class="column is-one-fifths is-narrow-mobile is-fullheight is-hidden-mobile">
          <%- include('./include/menu.ejs') %>
        </div>
        <div class="column is-four-fifths" id="app">
          <%- body %>
        </div>
      </div>
    </section>
  <% }else{ %>
    <%- body %>
  <% } %>
  <%- include('./include/notification.ejs') %>
</body>
<!-- <script src="/js/app.js"></script> -->
<script src="/js/bundle.js"></script>
</html>