<% layout('layout') -%>
<div class="main-container">
    <a href="/route/<%= event.route_id %>" class="button is-info"><i class="fas fa-arrow-circle-left m-right-5"></i>Back</a>
</div>
<!-- <div class="card">
  <div class="card-content"> -->
    <form action="/event/<%= event.id %>" method="post">
      <input type="hidden" name="_method" value="put" />
      <input type="hidden" name="route_id" value="<%= event.route_id %>">
      <input type="hidden" name="order" value="<%= event.order %>">
      <%- include('../../include/form_field/number', {obj: event, key: 'duration'}) %>
      <%- include('../../include/form_field/select', {obj: event, selectionValue: selectionValue, key: 'instruction'}) %>
      <%- include('../../include/form_field/color', {obj: event, key: 'color'}) %>
      <%- include('../../include/form_field/event_model', {obj: event, restaurant: restaurant, generalLocalKnowledge: generalLocalKnowledge }) %>
      <button class="button is-primary">Submit</button>
    </form>
  <!-- </div>
</div> -->