<% layout('layout') -%>

<div class="">
  <div class="main-container">
      <%- include('../../include/create_button', {href: '/restaurant/create'}) %>
  </div>
  <div class="main-container">
    <table class="table is-striped is-fullwidth ">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Photos</th>
            <th>Actions</th>
        </thead>
        <tbody>
          <% restaurants.map(restaurant => { %>
            <tr>
                <td><%= restaurant.name %></td>
                <td width="30%"><%= restaurant.description %></td>
                <td width="20%"><%- include('../../include/img_displayer', {obj: restaurant, key: 'photos', index: 0}) %></td>
                <td>  
                  <a href="/restaurant/<%= restaurant.id %>" class="button is-primary"><i class="fas fa-info-circle m-right-5"></i>Info</a>
                  <a href="/restaurant/<%= restaurant.id %>/edit" class="button is-info"><i class="fas fa-edit m-right-5"></i>Edit</a>
                  <a href="#" data-href="restaurant/<%= restaurant.id %>" class="delete-button button is-danger"><i class="fas fa-trash-alt m-right-5"></i>Delete</a>
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  </div>
</div>
